body
{
	color: var(--color);
	background-color: var(--backgroundColor);
	height: 100vh;
}

button
{
	color: var(--color);
	background-color: var(--backgroundColorButton);
}

img
{
	--dimensionValue: 64px;
	
	height: var(--dimensionValue);
	width: var(--dimensionValue);
}

#fixedBackground
{
	background: linear-gradient(var(--backgroundGradient1) 0%, var(--backgroundGradient2) 50%, var(--backgroundGradient1) 100%);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}
