.content
{
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
}

.content header
{
	position: sticky;
}

.content header h1 { text-align: center; }

.content header > div
{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.content .active
{
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.content .inactive
{
	left: -100vw;
	opacity: 0;
	position: absolute;
	transition: opacity 1s ease-in-out, left 0 linear 1s;
	z-index: -10;
}

.steamDev
{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.steamDev > *
{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 1rem;
}
.steamDev > * > button
{
	width: 100%;
}
