[package]
authors = ["Peter Lunneberg"]
description = "A desktop application for collecting, storing, and tracking achievement data."
edition = "2021"
name = "local-achievements"
publish = false
version = "0.3.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
byteorder = "1"
chrono = "0"
directories = "5"
path-slash = "0"
reqwest = { version = "0", features = [ "json" ] }
serde = "1"
serde_json = "1"
serde-xml-rs = "0"
strum = "0"
strum_macros = "0"
tokio = "1"

freya = "0.3"
dioxus = { version = "0.6.3", default-features = false, features = ["macro", "signals", "hooks"] }
dioxus-core = { version = "0.6.3" }

[lints.rust]
non_snake_case = "allow"
non_upper_case_globals = "allow"
